.chart-div {
    border: 1px solid #ddd; 
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.dashboard h3 {
    font-size: 1.1rem;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .chart-div {
        width: 330px;
    }    
}

