.info-grid-container h1 {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 8.1rem;
  font-weight: 700;
}

.info-grid-container h2 {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 16.2rem;
  font-weight: 700;
  display: flex;
}

.info-grid-container h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.infos-container {
  margin: 5rem 0rem;
  padding: 8rem 5rem;
  position: relative;
  bottom: 3.1rem;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
  padding: 20px; 
  border-radius: 8px;
  margin: 0rem 15rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 15px;
  text-align: left;
}

.card svg {
  height: 3rem;
  font-size: 1rem;
}

.card h3 {
  margin: 0 0 10px; 
  color: #333;
}

.card p {
  margin: 0; 
  color: #666;
}

@media screen and (max-width: 1024px) {
  .info-grid-container h1 {
      font-size: 1.3rem;
      margin-left: 5rem;
  }

  .info-grid-container h2 {
      font-size: 1.1rem;
      margin-left: 10rem;
  }

  .info-grid-container h3 {
      font-size: 1rem;
  }

  .infos-container {
      padding: 5rem 3rem;
      margin: 4rem 0;
  }

  .info-grid {
      margin: 0rem 5rem;
      gap: 15px;
  }

  .card {
      padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .info-grid-container h1 {
      font-size: 1.1rem;
      margin-left: 0.32rem;
  }

  .info-grid-container h2 {
      font-size: 1rem;
      margin-left: 0.64rem;
  }

  .info-grid-container h3 {
      font-size: 0.9rem;
  }

  .infos-container {
      padding: 3rem 1rem;
      margin: 2rem 0;
  }

  .info-grid {
      grid-template-columns: 1fr;
      margin: 0;
      padding: 10px;
      gap: 10px;
  }

  .card {
      padding: 10px;
  }
}
