.nav-secondary-bar {
    height: 45px;
    background: #f9f9f9;
    z-index: 3;
    position: relative;
}

.nav-container {
    height: 80px;
    background: #ffffff;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    width: 1315px;
    z-index: 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    height: 165px;
    width: 165px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    position: relative;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    color: #00a651;
}

.links {
    display: flex;
}

.links h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.links h1 svg {
    margin-left: 0.5rem;
}

.links h2 {
    background-color: #ed8113;
    padding: 1rem 2.5rem;
    border-radius: 9999px;
    margin-right: 2.8rem;
    font-size: 1.5rem;
    color: #fff;
    height: 49.2px;
}

.links svg {
    position: relative;
    bottom: 2px;
}

@media screen and (max-width: 1024px) {
    .nav-bar {
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;
    }

    .nav-logo {
        height: 120px;
        width: 120px;
        font-size: 5rem;
    }

    .links h1 {
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    .links h2 {
        font-size: 1.2rem;
        padding: 0.8rem 2rem;
        margin-right: 1.5rem;
        height: auto;
    }

    .links svg {
        bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .nav-container {
        height: 200px;
        justify-content: space-between;
        padding: 0 10px;
    }

    .nav-logo {
        height: 80px;
        width: 80px;
        font-size: 3rem;
        position: relative;
        bottom: 0;
    }

    .nav-bar {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .links h1, .links h2 {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .links h2 {
        padding: 0.5rem 1.5rem;
        margin-right: 0;
    }

    .nav-secondary-bar {
        height: 0px;
    }
}
