.chart-card {
    border: 1px solid #ddd; 
    border-radius: 15px;
    padding: 1rem 1rem 1rem 0rem;
    margin-top: 5rem;
}

.chart-card h1, p {
    text-align: left;
    margin-left: 1.8rem;
}

.chart-card p:nth-child(3) {
    color: #83ca9e;
    font-weight: 700;
}

.chart-card h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.chart {
    margin-top: 2rem;
}